body {
    background-color: white;
    display: table-footer-group;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#Text{
    color: black;
    font-size: 5em;
}